#daftar-pemesanan {
    .card-daftar-pesanan {
        background-color: $main_bold;
        width: 90%;
        @media #{$md} {
            width: 100%;
        }
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 1rem;
        border-radius: 10px;
        margin-top: calc(min(2rem, 3vw) * -1);
        margin-bottom: 8rem;
        color: $white;
        @media (max-width: 400px) {
            margin-top: calc(min(2rem, 7vw) * -1);
        }
        .card-title {
            h5 {
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 0.2rem;
                @media #{$md} {
                    font-size: 16px;
                }
            }
            p {
                width: 90%;
                @media #{$md} {
                    font-size: 8px;
                }
                @media #{$lg} {
                    font-size: 10px;
                }
                font-size: 12px;
                font-weight: 300;
                margin-bottom: 2rem;
            }
        }
        .card-form {
            label {
                font-weight: 500;
                font-size: 14px;
            }
            .top-area {
                margin-bottom: 3rem;
            }
            .ttd-area,
            .ttd-manager {
                margin-bottom: 3rem;
                h5 {
                    font-weight: 600;
                    font-size: 18px;
                    margin-bottom: 0.2rem;
                    @media #{$md} {
                        font-size: 16px;
                    }
                }
            }
            .detail-barang {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .isi-barang {
                    display: flex;
                    flex-wrap: wrap;
                    width: 48%;
                    margin-bottom: 1rem;
                    justify-content: space-between;
                    @media #{$md} {
                        width: 95%;
                    }
                    border-bottom: 1px solid $white;
                    h5 {
                        font-weight: 600;
                        font-size: 18px;
                        margin-bottom: 0.5rem;
                        @media #{$md} {
                            font-size: 16px;
                        }
                        width: 100%;
                    }
                    .detail {
                        margin-bottom: 1rem;
                        &:nth-child(2),
                        &:nth-child(4) {
                            width: 68%;
                        }
                        &:nth-child(3),
                        &:nth-child(5) {
                            width: 30%;
                        }
                        h5 {
                            @media #{$md} {
                                font-size: 12px;
                            }
                            font-size: 14px;
                            font-weight: 600;
                            margin-bottom: 0;
                        }
                        p {
                            @media #{$md} {
                                font-size: 10px;
                            }
                            font-size: 14px;
                            font-weight: 100;
                            margin-bottom: 0;
                        }
                        .status {
                            display: flex;
                            align-items: center;
                            .stand-by {
                                background-color: $stand_by;
                                border-radius: 50%;
                                width: 8px;
                                height: 8px;
                                margin-right: 5px;
                            }
                            .limbah {
                                background-color: $limbah;
                                border-radius: 50%;
                                width: 8px;
                                height: 8px;
                                margin-right: 5px;
                            }
                            .garansi {
                                background-color: $garansi;
                                border-radius: 50%;
                                width: 8px;
                                height: 8px;
                                margin-right: 5px;
                            }
                        }
                    }
                    .keterangan {
                        width: 100%;
                        margin-bottom: 2rem;
                        h5 {
                            @media #{$md} {
                                font-size: 12px;
                            }
                            font-size: 14px;
                            font-weight: 600;
                            margin-bottom: 0;
                        }
                        p {
                            @media #{$md} {
                                font-size: 10px;
                            }
                            font-size: 14px;
                            font-weight: 100;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
